body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-image: url('../css/imagens/background-image.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px 0;
}

nav ul ul li {
    display: block;
    width: 200px;
}

nav ul ul li a {
    padding: 8px 20px;
}

nav ul li:hover > ul {
    display: block;
}

aside {
    background-color: #f4f4f4;
    width: 250px;
    float: left;
    height: 100%;
}

.systemLogin {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.formLogin{
    background-color: #f0f0f0;
    padding: 50px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.userLogin, .userPass, .btnLogin{
    margin-bottom: 10px;
}

label{
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.btnLog{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnLog:hover{
    background-color: #00ff7f;
}


.CadProj {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    justify-content: center;
    align-items: center; 
}

.CadProj .titulo {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.CadProj label {
    display: block;
    margin-bottom: 5px;
}

.CadProj input[type="text"],
.CadProj input[type="date"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.CadProj textarea {
    width: 99%;
    height: 250px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}

.CadProj .descricao,
.CadProj .datas,
.CadProj .alunos,
.CadProj .professor {
    margin-top: 10px;
}

.CadProj .datas{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.CadProj #datafim{
    padding-left: 40px;
}

.CadProj .titulo2 label,
.CadProj .titulo2 input[type="text"]{
    width: 100%;
}
.CadProj .alunos label,
.CadProj .alunos input[type="text"] {
    width: 100%;
}

.CadProj .professor label,
.CadProj .professor input[type="text"] {
    width: 100%;
}

.CadProj .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;    
    margin: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}


.CadProj .btn button.cancelar {
    background-color: #dc3545;
    color: #fff;
}

.CadProj .btn button.salvar {
    background-color: #28a745;
    color: #fff;
}

.CadProj .btn button:hover {
    opacity: 0.8;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}
